@media (max-width: 992px) {
  .header__logo {
    margin-right: 52px;
  }

  .header__title {
    width: 639px;
    font-size: 45px;
  }

  .header__description {
    width: 489px;
    font-size: 20px;
  }

  .header__decor-img {
    width: 503px;
    height: 348px;
  }

  .header__menu {
    width: 100%;
    text-align: center;
  }

  .functions__decor-img {
    margin-right: 10px;
  }

  .functions__description {
    width: 454px;
    font-size: 14px;
  }

  .function__title {
    width: 404px;
    font-size: 41px;
  }

  .plan__card:not(:last-child) {
    margin-right: -31px;
  }

  .network__img-map {
    margin: 186px auto 36px;
    display: block;
    width: 908px;
    height: 506px;
  }

  .network__list {
    max-width: 928px;
    width: 94%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 60px auto 0;
  }

  .comments__card-name {
    color: #0B132A;
    font-size: 16px;
    line-height: 12px;
    font-weight: 500;
  }

  .comments__card-text {
    display: block;
    margin: 20px 30px 5px;
    color: #0B132A;
    font-size: 14px;
    line-height: 23px;
    font-weight: 400;
  }

  .comments__card-rating {
    color: #0B132A;
    margin-right: 5px;
    font-size: 14px;
    line-height: 3px;
    font-weight: 400;
  }

  .comments__subscrip-title {
    margin-right: -97px;
    width: 583px;
    font-size: 35px;
    line-height: 45px;
    font-weight: 500;
    color: #0B132A;
  }

  .footer__help-container {
    display: flex;
    margin-left: auto;
    width: 517px;
  }

  .footer__info {
    width: 443px;
    margin-left: 74px;
  }
}
@media (max-width: 1084px) {
  .header__logo {
    margin: auto 85px auto 28px;
  }

  .footer__help-container {
    display: flex;
    margin-left: auto;
    width: 561px;
  }

  .footer__info {
    width: 443px;
    margin-left: 53px;
  }

  .network__list {
    max-width: 1136px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 60px auto 0;
  }

  .function__title {
    width: 454px;
    font-size: 31px;
    line-height: 44px;
    font-weight: 500;
    color: #0B132A;
    margin-bottom: 14px;
  }

  .functions__description {
    width: 404px;
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    color: #4F5665;
  }

  .plan__container {
    display: flex;
    max-width: min-content;
    width: 104%;
    margin: 0 auto;
  }

  .plan__card:not(:last-child) {
    margin-right: 29px;
  }

  .comments__card-text {
    display: block;
    margin: 20px 30px 5px;
    color: #0B132A;
    font-size: 13px;
    line-height: 30px;
    font-weight: 400;
  }
}
@media (max-width: 768px) {
  .header__decor-img {
    position: absolute;
    width: 600px;
    height: 396px;
    top: 13%;
    left: 11%;
  }

  .header__title {
    width: 556px;
    font-size: 33px;
    line-height: 37px;
  }

  .main {
    padding-left: 59px;
    padding-top: 322px;
  }

  .header__description {
    width: 600px;
    font-size: 18px;
  }

  .header__btn-start {
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    color: #ffffff;
    width: 608px;
    height: 60px;
    border-radius: 10px;
    background-color: #F53838;
    cursor: pointer;
    box-shadow: 0 25px 54px rgba(245, 56, 56, 0.35);
    transition: 0.3s;
  }

  .functions__decor-img {
    margin-right: 10px;
    position: absolute;
    left: 17%;
    top: 208%;
  }
}

/*# sourceMappingURL=responsive.css.map */
