* {
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.btn {
  outline: none;
  background: 0;
  border: 0;
  padding: 0;
}

.header {
  width: 100%;
  background-color: #fff;
}

.header__container {
  max-width: 1209px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.header__row {
  display: flex;
  align-items: center;
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  height: 91px;
  padding-top: 46px;
}
.header__logo {
  margin-right: 157px;
}
.header__menu {
  display: flex;
}
.header__menu-link:not(:first-child) {
  margin-right: ;
}